@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    width: 1440px;
}


/*-----------------------------------------header-----------------------------------------*/
header {
    width: 1440px;
    height: 86px;
    flex-shrink: 0;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo_top {
    margin: 26px 0 15px 95px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin-left: 300px;
    padding: 0;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.buy_coffee {
    width: 213px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 22px 95px 20px 50px;
    text-decoration: none;
}

/*----------------------------------main-Hi, i’m Dasteen Front end dev---------------------------------*/

.introduction_1 {
    width: 100%;
    height: 900px;
    background-color: #EFF0F3;
    box-sizing: border-box;
    display: flex;
    gap: 116px;
}

.text_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 271px 0 284px 95px;
}

h1 {
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    width: 617px;
    height: 162px;
}

.text_1 h4 {
    width: 664px;
    height: 56px;
    border-left: 3px solid #2B2C34;
    padding-left: 9px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
}

form {
    display: flex;
    width: 609px;
    height: 67px;
    gap: 20px;
}

input {
    width: 444px;
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 21px 200px 21px 25px;
    border-radius: 8px;
    border: none;
    background: #FFFFFE;
    color: #C0C0C0;
}

input::placeholder {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}

.Subscribe_1 {
    width: 145px;
    height: 67px;
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #6246EA;
    border: none;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.Subscribe_1:hover {
    cursor: pointer;
}

.Picture_1 {
    padding: 250px 95px 263px 0;
}


/*-----------------------------------main-browse_category-----------------------------------*/
.browse_category_2 {
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 67px 94px 68px 94px;
}

.browse {
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: center;
    align-items: center;
}

.browse h3 {
    margin-right: 814px;
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.browse h4 {
    margin-right: 16px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.browse svg {
    padding: 9px 0 2px 0;
}

.category_cards {
    display: flex;
    gap: 37px;
}

.category_cards div {
    width: 220px;
    height: 280px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.category_cards h3 {
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 30px;
}

.category_cards div:nth-child(1) {
    padding: 65px 130px 95px 30px;
}

.category_cards div:nth-child(2) {
    padding: 65px 72px 95px 30px;
}

.category_cards div:nth-child(3) {
    padding: 65px 94px 95px 30px;
}

.category_cards div:nth-child(4) {
    padding: 65px 115px 95px 30px;
}

.category_cards div:nth-child(5) {
    padding: 65px 92px 95px 30px;
}

.category_cards div:hover {
    cursor: pointer;
    background: #6246EA;
}

.category_cards div:hover h3 {
    color: white;
}

.category_cards svg {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 7.458px;
    background: #FFFFFE;
}

#fon_size_css {
    width: 33px;
    height: 37px;
    flex-shrink: 0;
    padding: 12px 14px 11px 13px;
}

#fon_size_Tailwind {
    width: 40px;
    height: 24px;
    flex-shrink: 0;
    padding: 18px 10px;
}

#fon_size_Vue {
    width: 36px;
    height: 30.972px;
    flex-shrink: 0;
    padding: 15px 12px 14px 12px;
}

#fon_size_React {
    width: 40px;
    height: 36px;
    flex-shrink: 0;
    padding: 12px 10px;
}


/*-----------------------------------------main-Featured Article---------------------------------------------*/

.main_wrapper_3 {
    background: #FFFFFE;
    padding: 0 94px;
}

.article {
    width: 1252px;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px 0 30px 0;
    box-sizing: border-box;
}

.article h3 {
    height: 35px;
    color: #2B2C34;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}


.article h4 {
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.article svg {
    margin: 9px 6px 2px 12px;
}

.article_cards {
    width: 1252px;
    height: 425px;
    display: flex;
    gap: 16px;
}

.article_cards > div {
    display: flex;
    width: 300px;
    height: 425px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFFFFE;
    box-sizing: border-box;
}

.article_cards img {
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
}

.article_cards > div:hover {
    cursor: pointer;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.article_cards > div {
    display: flex;
    flex-direction: column;
}

.article_cards h4 {
    width: 260px;
    height: 75px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 25px 0 30px 0;
}

.article_cards h5 {
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4.2px;
}

.article_cards p {
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.bottom_article_card {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*----------------------------------------------main-featured_article_1------------------------------------------------*/
.distance1 h4 {
    margin-left: 904px;
}


/*----------------------------------------------main-css_2------------------------------------------------*/
.distance2 h4 {
    margin-left: 1042px;
}

/*----------------------------------------------main-javascript_3-----------------------------------------*/
.distance3 h4 {
    margin-left: 974px;
}


/*----------------------------------------------main-react_js_4-------------------------------------------*/
.distance4 h4 {
    margin-left: 993px;
}

/*----------------------------------------------main-button---------------------------------------------*/
.more_article {
    display: flex;
    padding: 20px 23px 19px 23px;
    margin: 80px auto;
    width: 165px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-transform: capitalize;
}
